<div class="panel panel-primary">
  <div class="panel-body">
    <form [formGroup]="form" class="form-basic" (ngSubmit)="submit()">
      <h3 class="text-center">Please login</h3>

      <label id="password" for="password" class="sr-only">Password</label>
      <input type="password" name="password" formControlName="password" class="form-control"
        placeholder="Password" required>
        @if (isControlInvalid(this.password)) {
          <div class="alert alert-danger">Password is required</div>
        }

        <label id="newPassword" for="newPassword" class="sr-only">New Password</label>
        <input type="password" name="password" formControlName="newPassword" class="form-control"
          placeholder="New Password" required>
          @if (isControlInvalid(this.newPassword)) {
            <div class="alert alert-danger">New Password is required</div>
          }

          <label id="confirmNewPassword" for="confirmNewPassword" class="sr-only">Confirm New Password</label>
          <input type="password" name="password" formControlName="confirmNewPassword" class="form-control"
            placeholder="Confirm New Password" required>
            @if (isControlInvalid(this.confirmNewPassword)) {
              <div class="alert alert-danger">Confirm New Password is required</div>
            }
            @if (isControlInvalid(form, 'password')) {
              <div class="alert alert-danger">Passwords do not match</div>
            }

            <div>
              <button class="btn btn-primary btn-block mt-3" type="submit">Change</button>
            </div>
            @if (changeError) {
              <div class="alert alert-danger">Unable to Change Password</div>
            }
            @if (changeSuccessful) {
              <div class="alert alert-info">Change Password successful! <a
              [routerLink]="['/']">Back to Groclist</a></div>
            }
          </form>
        </div>
      </div>