<div class="panel panel-primary">
    <div class="panel-body">
        <form [formGroup]="form" class="form-basic" (ngSubmit)="submit()">
            <h3 class="text-center">Please login</h3>

            <label id="password" for="password" class="sr-only">Password</label>
            <input type="password" name="password" formControlName="password" class="form-control"
                placeholder="Password" required>
            <div class="alert alert-danger" *ngIf="isControlInvalid(this.password)">Password is required</div>
            
            <label id="newPassword" for="newPassword" class="sr-only">New Password</label>
            <input type="password" name="password" formControlName="newPassword" class="form-control"
                placeholder="New Password" required>
            <div class="alert alert-danger" *ngIf="isControlInvalid(this.newPassword)">New Password is required</div>

            <label id="confirmNewPassword" for="confirmNewPassword" class="sr-only">Confirm New Password</label>
            <input type="password" name="password" formControlName="confirmNewPassword" class="form-control"
                placeholder="Confirm New Password" required>
            <div class="alert alert-danger" *ngIf="isControlInvalid(this.confirmNewPassword)">Confirm New Password is required</div>
            <div class="alert alert-danger" *ngIf="isControlInvalid(form, 'password')">Passwords do not match</div>

            <div>
                <button class="btn btn-primary btn-block mt-3" type="submit">Change</button>
            </div>
            <div class="alert alert-danger" *ngIf="this.changeError">Unable to Change Password</div>
            <div class="alert alert-info" *ngIf="this.changeSuccessful">Change Password successful! <a
                [routerLink]="['/']">Back to Groclist</a></div>
        </form>
    </div>
</div>