<div class="panel panel-primary">
    <div class="panel-body">
        <h2>Groclist</h2>
        <form [formGroup]="formName"  (ngSubmit)="add()">
            <div class="forms-group">
                <div class="row">
                    <div class="col-md-4">
                        <input class="form-control" type="text" placeholder="list name" formControlName="listName" name="listName"/>
                        <div class="alert alert-danger" *ngIf="formName.controls.listName.hasError('required') && formName.controls.listName.touched">List Name is required.</div>
                        <div class="alert alert-danger" *ngIf="formName.controls.listName.hasError('maxlength') && formName.controls.listName.touched">List Name cannot exceed 50 characters</div>
                    </div>
                    <div class="col-md-6">
                        <button class="glyphicon glyphicon-plus" style="float: center" type="submit" 
                        [disabled]="!formName.valid" style="margin-top: 5px"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <ul class="list-group">
        <li *ngFor="let i of list" class="list-group-item">
        <button [ngClass]="{'glyphicon': true, 'glyphicon-plus': !i.isSelected, 'glyphicon-minus': i.isSelected}"
        (click)="select(i)"></button>
        <button class="glyphicon glyphicon-eye-open" (click)="view(i)"></button>
        <button class="glyphicon glyphicon-remove" style="float: right" (click)="delete(i)"></button>
        {{i.name}}
        <div class="panel panel-primary" *ngIf="i.isSelected">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <label>Name: </label>{{i.name}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Create Date: </label>{{i.createDate | date: 'shortDate'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Count: </label>{{i.items.length}}
                    </div>
                </div>
            </div>
        </div>
        </li>
    </ul>
</div>