.panel-body {
    background-color: #03324E;
    color: #70818B;
}

.form-control {
    margin-bottom: 2px;
}

.btn {
    margin-bottom: 20px;
}

.form-basic {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto
}