<div class="panel panel-primary">
    <div class="panel-body">
        <span>
            <h2>Groclist</h2>
        </span>
        <button type="button" class="btn btn-primary btn-sm ml-2" matButton (click)="changePassword()">Change
            Password</button>
        <button type="button" class="btn btn-primary btn-sm ml-2" matButton (click)="logout()">Logout</button>
        <form [formGroup]="formName" (ngSubmit)="add()">
            <div class="forms-group">
                <div class="row">
                    <div class="col-md-6">
                            <input matInput class="form-control m-2" style="background-color: white; width: 90%" type="text"
                                placeholder="list name" formControlName="listName" name="listName" />
                        <div class="alert alert-danger ml-2"
                            *ngIf="formName.controls['listName'].hasError('required') && formName.controls['listName'].touched">
                            List Name is required.</div>
                        <div class="alert alert-danger ml-2"
                            *ngIf="formName.controls['listName'].hasError('maxlength') && formName.controls['listName'].touched">
                            List Name cannot exceed 50 characters</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary btn-sm ml-2" matButton [disabled]="!formName.valid"
                            style="margin-bottom: 10px">Add List</button>
                    </div>
                </div>
            </div>
        </form>
        <ul class="list-group">
            <li *ngFor="let i of groceryLists | async" class="list-group-item">
                <div class="row">
                    <div class="col-sm-4">
                        <button class="btn btn-primary btn-sm mt-2 mr-2" matButton (click)="view(i)">View</button>
                        <button class="btn btn-primary btn-sm mt-2" matButton (click)="delete(i)">Delete</button>
                    </div>
                    <div class="col-sm-6">
                        <mat-expansion-panel style="background-color: #03324E;color: #70818B;">
                            <mat-expansion-panel-header>
                                <mat-panel-title style='color: #70818B;'>
                                    <b>{{i.name}}</b>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>Created Date: {{i.createdDate | date: 'shortDate'}}</p>
                            <p>Items: {{i.items.length}}</p>
                        </mat-expansion-panel>
                    </div>
                    <div class="col-md"></div>
                </div>
            </li>
        </ul>
    </div>
</div>