<div class="panel panel-primary">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-primary btn-sm mt-2 ml-2" (click)="goBack()">Back</button>
            </div>
            <div class="col-md-4">
                <input type="text" matInput class="form-control mt-2" placeholder="filter"
                    style="background-color: white;" [(ngModel)]="listFilter">
            </div>
        </div>

        <h2 class="ml-2 mt-2">List: {{groceryList.name}} - {{groceryList.createdDate | date: 'shortDate'}}</h2>
        <form [formGroup]="itemGroup" (ngSubmit)="add()">
            <div class="row">
                <div class="col-md-8">
                    <mat-checkbox class="ml-2" formControlName="hasCoupon" name="hasCoupon" id="hasCoupon">Has
                        Coupon</mat-checkbox>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input matInput class="form-control m-2" style="background-color: white;" type="text"
                        placeholder="item name" formControlName="itemName" [matAutocomplete]="auto" />
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected()">
                        <mat-option *ngFor="let item of suggestions" [value]="item.name">
                            {{ item.name }}
                        </mat-option>
                    </mat-autocomplete>
                    <div class="alert alert-danger ml-2" *ngIf="isRequired">
                        Item Name is required.</div>
                    <div class="alert alert-danger ml-2" *ngIf="isMaxLength">
                        Item Name cannot exceed 50 characters</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-primary btn-sm ml-2 mb-2" type="submit" [disabled]="!itemGroup.valid">Add
                        Item</button>
                </div>
            </div>
        </form>
    </div>
    <div>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of groceryList.items | grocListFilter:listFilter">
                <mat-checkbox [(ngModel)]="item.isCollected" (change)="update(item)"></mat-checkbox>
                <label style="margin-left: 10px">{{item.name}}</label>
                <label *ngIf="item.hasCoupon" class="ml-3" style="color: red">Coupon</label>
                <button mat-icon-button matTooltip="Delete" matTooltipPosition="before" style="float: right"
                    (click)="delete(item)">
                    <mat-icon>delete_forever</mat-icon>
                </button>
            </li>
        </ul>
    </div>
</div>