<div class="panel panel-primary">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-1">
                <button class="glyphicon glyphicon-arrow-left" (click)="goBack()"></button>
            </div>
            <div class="col-md-2">Filter By:</div>
            <div class="col-md6">
                <input type="text" style="margin-left: 2%" [(ngModel)]="listFilter">
            </div>
        </div>
        
        <h2>{{grocList.name}} - {{grocList.createDate | date: 'shortDate'}}</h2>
        <form [formGroup]="itemGroup" (ngSubmit)="add()">
            <div class="forms-group">
                <div class="row">
                    <div class="col-md-4">
                        <input class="form-control" type="text" placeholder="item name" formControlName="itemName"/>
                        <div class="alert alert-danger" *ngIf="itemGroup.controls.itemName.hasError('required') && itemGroup.controls.itemName.touched">Item Name is required.</div>
                        <div class="alert alert-danger" *ngIf="itemGroup.controls.itemName.hasError('maxlength') && itemGroup.controls.itemName.touched">Item Name cannot exceed 50 characters</div>
                    </div>
                    <div class="col-md-4">
                        <button class="glyphicon glyphicon-plus" style="float: center" type="submit"
                        [disabled]="!itemGroup.valid" style="margin-top: 5px"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of grocList.items | grocListFilter:listFilter">
            <input type="checkbox" [(ngModel)]="item.isCollected" (change)="update(item)"> <label>{{item.name}}</label>
            <button class="glyphicon glyphicon-remove" style="float: right" (click)="delete(item)"></button>
        </li>
    </ul>
</div>