<div class="panel panel-primary">
  <div class="panel-body">
    <form [formGroup]="formLogin" class="form-basic" (ngSubmit)="submit()">
      <h3 class="text-center">Please sign in</h3>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input id="inputEmail" type="email" name="email" formControlName="email" class="form-control" placeholder="Email address"
        autofocus required>
      <div class="alert alert-danger" *ngIf="getError('email')">Email is required</div>
      <label id="inputPassword" for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" formControlName="password" class="form-control" placeholder="Password"
        required>
      <div class="alert alert-danger" *ngIf="getError('password')">Password is required</div>
      <input *ngIf="changePassword" type="password" name="newPassword" formControlName="newPassword"
        class="form-control" placeholder="New Password" required>
      <input *ngIf="changePassword" type="password" name="confirmPassword" formControlName="confirmPassword"
        class="form-control" placeholder="Confirm Password" required>
      <div class="alert alert-danger" *ngIf="match">Passwords do not match</div>
      <!-- <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div> -->
      <div class="alert alert-danger" *ngIf="loginError">Invalid Username or Password</div>
      <div>
        <button class="btn btn-primary btn-block mt-3" type="submit">Sign in</button>
        <button class="btn btn-primary btn-block" type="button" (click)="register()">Register</button>
      </div>
    </form>
  </div>
</div>
