<mat-toolbar class="nav-colors">
  <span>Groclist</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="allLists()">All Lists</button>
    <button mat-menu-item (click)="allItems()">All Items</button>
    <button mat-menu-item (click)="changePassword()">Change Password</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>
