<div class="panel panel-primary">
    <div class="panel-body">
        <h2>Groclist</h2>
        <form [formGroup]="formName"  (ngSubmit)="add()">
            <div class="forms-group">
                <div class="row">
                    <div class="col-md-4">
                        <input class="form-control" type="text" placeholder="list name" formControlName="listName" name="listName"/>
                        <div class="alert alert-danger" *ngIf="formName.controls.listName.hasError('required') && formName.controls.listName.touched">List Name is required.</div>
                        <div class="alert alert-danger" *ngIf="formName.controls.listName.hasError('maxlength') && formName.controls.listName.touched">List Name cannot exceed 50 characters</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="forms-group">
                        <button class="glyphicon glyphicon-plus" type="submit" [disabled]="!formName.valid"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <ul class="list-group">
        <li *ngFor="let i of list" class="list-group-item">
        <button class="glyphicon glyphicon-minus" (click)="delete(i)"></button>
        {{i.name}} -> {{i.createDate | date: 'shortDate'}} 
        </li>
    </ul>
</div>